{% extends 'SytemSGBundle:Default:baseAdmin.html.twig' %}
{# block col %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav"> 
        <li><a href="{{ path('homeadmin') }}"><strong><i class="glyphicon glyphicon-home"></i> Home Administrador</strong></a></li>         
        <li><a href="{{ path('dhcpconf') }}"><i class="glyphicon glyphicon-chevron-left"></i> <strong>Subnet dhcp</strong></a></li>
        <li><a href="{{ path('dnsips') }}"> <strong>Dns</strong></a></li> 
               
 </ul>
          
          
         
</div>
{% endblock col #}

{% block body -%}
<ol class="breadcrumb">
                                    <li>
                                        <a href="{{ path('homeadmin') }}">SysNTI - NetManager Administrador</a>
                                       
                                    </li>
                                    <li><a href="{{ path('dhcpconf') }}">
                                         Subnets </a>
                                    </li>
                                    <li class="active">
                                        <i class="fa fa-fw fa-table"></i> Editar Subnet :
                                    </li>
</ol>
   
{#<div class="container">
#}
<div class="panel panel-primary" style="background-color:#FAFAFA">
<div class="panel-heading" style="font-size:18px"><strong>Editar Subrede</strong></div>
 <div class="panel-body">
    <div class="alert alert-info"> <p style="text-align:justify; font-size:16px;"><strong> Obs: O campo de configuração da Subrede é de preenchimento obrigatório. Segue abaixo um exemplo. Exemplo:<br/>
    <br/><span style="color:#0B2161">subnet 200.239.152.0 netmask 255.255.252.0 {<br/>
            option routers 200.239.152.2;<br/>
    }</span></strong> </p>
 </div>
 
    {% for flashMenssage in app.session.flashbag.get('message') %}
            <div class="alert alert-info" style="text-align: center; font-size: 17px;"> 
                 <button  type="button" class="close" data-dismiss="alert">x</button>
                  <strong>{{ flashMenssage }}</strong>
            </div>
    {% endfor %}
    
<div class="table-responsive" > 
 <div class="row" >  
 <div  class="col-sm-12" > 

    
    	 {{form_start(edit_form, {'attr': {'class':'form-horizontal'}}) }}   	
    <div class="form-group">
     <div class="col-sm-12">     
      <span>{{ form_errors(edit_form.optionrouters) }}</span>
      <div class="input-group">
        <span class="input-group-addon"><b>Informe as configuração da Sunet *</b></span>

          {{ form_widget(edit_form.optionrouters, {'attr': {'class':'form-control', 'style':'resize:none'}}) }}
      </div>
      </div>
    </div>

          <div class="col-xs-8">
          {{ form_widget (edit_form.submit, {'attr': {'class':'btn btn-primary btn-lg active'}})}}
          {{form_end(edit_form)}}
             

            
                       
                            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">Delete</button>
                   
                       
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                               
                              </div>
                              <div class="modal-body">
                                <div class="alert alert-danger" role="alert">
                                    <span style="font-size: 18px; font-weight: bold;">Deseja realmente deletar este item?</span> Caso sim clique em ok, caso contrario clique em canselar....</div>
                                </p>
                              </div>
                              <div class="modal-footer">
                              <table>
                              <tr align="center">
                               <td> <button type="button" class="btn btn-default btn-lg"     data-dismiss="modal">Cancelar</button>
                               </td>
                                <td style="padding-left: 10px;">{{form_start(delete_form) }}
                                                    
                                 {{ form_widget (delete_form.submit, {'attr': {'class':'btn btn-danger btn-lg active'}})}}

                                {{form_end(delete_form)}} </td>
                              </tr>
                              </table>
                              </div>
                            </div>
                          </div>
                        </div>
                   
              </div>


        

    </div>    

      </div>
 </div>

</div></div>

<script type="text/javascript">
        

        $(document).ready(function(){
             // way 1
            $('.ip_address').mask('099.099.099.099');
            // way 2
            $('.ip_address').mask('0ZZ.0ZZ.0ZZ', {translation:  {'Z': {pattern: /[0-9]/, optional: true}}});
            
        );
  
</script>

{% endblock %}
