{% extends 'SytemSGBundle:Default:baseAdmin.html.twig' %}



{# block col %}

 <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav side-nav">
      <li>
         <a href="{{ path('homeadmin') }}" style="font-weight:bold;"><i class="fa fa-fw fa-dashboard"></i>  Home Administrador</a>                            
      </li>                    
     
      <li>
          <a href="{{ path('dadosarquivos') }}"><i class="glyphicon glyphicon-chevron-left"></i> <strong>Dispositivos da Rede</strong></a>
      </li>
               
    </ul>
</div>
{% endblock col #}



{% block body -%}
    <ol class="breadcrumb">
                                    <li>
                                        <i class="fa fa-dashboard"></i>  <a href="#">SysNTI - NetManager Administrador
                                        </a>
                                    </li>
                                    <li class="active">
                                        <i class="fa fa-fw fa-table"></i> Dados Redes Ufop
                                    </li>
   </ol>
 
 <ul class="nav nav-pills nav-justified">
  <li role="presentation4"  class="menu"><a href="{{ path('dadosarquivos') }}"><strong style="font-size:18px;">Todos</strong></a></li>
  <li role="presentation" class="menu"><a href="{{ path('search_desbloqueado') }}"><strong style="font-size:18px;">Desbloqueados</strong></a></li>
  <li role="presentation1"  class="menu"><a href="{{ path('search_bloqueado') }}"><strong style="font-size:18px;">Bloqueados</strong></a></li>
  <li role="presentation2" class="menu"><a href="{{ path('search_externo') }}"><strong style="font-size:18px;">Externos</strong></a></li>
  <li role="presentation3" class="menu"><a href="{{ path('search_server') }}"><strong style="font-size:18px;">Servidores</strong></a></li>
</ul>   
<br><br>
   
     <h3 class="sub-header">
     {{ status }}</h3>
 
   <div class="table-responsive">
      {# total items count #}
    <div class="count">
        <h4><strong>Número de registros</strong> - <SPAN STYLE="color:#00008B; font-weight: bold;">{{ pagination | length }}</SPAN></h4><br>

    </div>
    <div class="col-xs-12">
     
    <table id="listar" class="table">
        <thead>
            <tr class="info">
                <!--<th><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>-->
                 <th> Status</th>
                 <th> Ip </th> 
                 <th> Mac</th> 
                 <th> Laboratorio </th>                
                 <th> Data cad</th>
                 <th > Ações</th>
            </tr>
        </thead>
        <tbody >
       
                {% for entity in pagination %}
                    <tr class="odd gradeX">     
                      {# <td><a href="{{ path('dadosarquivos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                       {% if entity.status == 'DESBLOQUEADO' %}
                         {# <td class="center" style="color: green; font-weight:bold; background-color:#98FB98;">  <span class="glyphicon glyphicon­-star" aria­hidden="true"></span>{{ entity.status}}</td> #}
                         <td class="center" > <h4><span class="label label-success">{{ entity.status}}</span></h4></td>
                      {% else %}
                         {#<td class="center" style="color: #8B0000;font-weight:bold; background-color:#EE6A50;">{{ entity.status}}</td>#}
                        <td class="center" > <h4><span class="label label-danger">{{ entity.status}}</span></h4></td>

                      {% endif %}
                       

                      
                        <td class="center">{{ entity.ip }}</td>                            
                        <td class="center">{{ entity.mac }}</td>
                       
                        <td class="center">{{ entity.laboratorio }}</td>
                        {#<td class="center">{{ entity.email }}</td>
                        <td class="center">{{ entity.ramal }}</td>
                        <td class="center">{{ entity.celular }}</td>
                        <td class="center">{{ entity.responsavel }}</td>#}
                         
                        <td class="center" >
                          {% if entity.dataCadastro %}
                          {{ entity.dataCadastro|date('d-m-Y') }}
                          {% endif %}
                        </td>
                        
                        <td><a class="btn btn-default" href="{{ path('dadosarquivos_show', { 'id': entity.id }) }}">Detalhes <i class="glyphicon glyphicon-zoom-in icon-white"></i></a></td>                 
                        {#<td><a class="btn btn-info" href="{{ path('dadosarquivos_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a></td>#}
                            
                        
                    </tr>
                {% endfor %}

        </tbody>
    </table>
    {# display navigation 
    <center><div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div></center>#}
   </div>
   </div>
</div>

    
    <br/>

 
    {% endblock %}
 {% block scriptsextra %}
<script type="text/javascript" language="javascript" src="{{ asset('bundles/sytemsg/datatable/js/jquery-1.10.2.min.js')}}"></script>
       <script type="text/javascript" language="javascript" src="{{ asset('bundles/sytemsg/datatable/js/jquery.dataTables.min.js')}}"></script>
       <script type="text/javascript" language="javascript" src="{{ asset('bundles/sytemsg/datatable/js/dataTables.bootstrap.js')}}"></script>
       <script type="text/javascript" charset="utf-8">
          $(document).ready(function() {
            $('#listar').dataTable({
          "language": {
            "lengthMenu": "<b>Número _MENU_ de itens por página</b>",
            "zeroRecords": "<span class='label label-info' style='font-size:13px'>Nenhum resultado foi encontrado.</span>",
            "info": "<b>Página</b> <SPAN class='badge'> _PAGE_ </SPAN><b> de </b><SPAN class='badge'> _PAGES_</SPAN>",
            "infoEmpty": "<span class='label label-default' style='font-size:13px'>Nenhum resultado disponivel.</span>",
            "infoFiltered": "<span class='label label-info' style='font-size:13px; color:blue;'>( filtro <b> _MAX_ </b> total )</span>",
            "search": "<b>Buscar: </b>",
            "paginate": { "first": "Início", "previous": "Anterior", "next": "Próximo", "last": "Último" }
           }
          });
          } );
       </script>
      <script>
      $(document).ready(function(){

          $(".menu").click(function(){
              $(this).addClass("active");

        });

      });

      </script>

{% endblock %}