{% extends 'SytemSGBundle:Default:baseAdmin.html.twig' %}

{# block col %}
<div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav side-nav">
      <li>
         <a href="{{ path('homeadmin') }}" style="font-weight:bold;"><i class="fa fa-fw fa-dashboard"></i>  Home Administrador</a>                            
      </li>                    
     
      <li>
          <a href="{{ path('dadosarquivos') }}"><i class="glyphicon glyphicon-chevron-left"></i> <strong>Dispositivos da Rede</strong></a>
      </li>
               
    </ul>
</div>
{% endblock col #}



{% block body -%}
<ol class="breadcrumb">
                                    <li>
                                        <i class="fa fa-dashboard"></i>  <a href="{{ path('homeadmin') }}">SysNTI - NetManager Administrador</a>
                                    </li>
                                    <li>
                                         <a href="{{ path('dadosarquivos') }}">Dispositivos Rede</a>
                                    </li>
                                    <li class="active">
                                        / Editar maquina
                                    </li>
</ol>


<!--<div class="container">-->

	 
		{# form(form) #}
<div class="panel panel-primary" style="background-color:#FAFAFA">
<div class="panel-heading" style="font-size:18px"><strong>Editar Maquinas ICEA</strong></div>
 <div class="panel-body">
    <div class="alert alert-info"> <p style="text-align:center; font-size:16px;"><strong> Obs: Todos os campos com asterisco são de preenchimento obrigatorio.</strong> </p></div>
 </div>
	<field>
   
    {{form_start(edit_form, {'attr': {'class':'form-horizontal'}}) }}
    <div class="table-responsive" > 
     <div class="row" >  
     <div  class="col-sm-12" style="margin:5px px 5px 5px;">

     
    
     {% for flashMenssage in app.session.flashbag.get('message') %}
        <div class="alert alert-info" style="text-align: center;"> 
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>{{ flashMenssage }}</strong>
      </div>
     {% endfor %} 
    <fieldset style=" border: 2px solid grey;padding: 7px;">
     
       {#<a class="btn btn-info"  data-toggle="modal" data-target="#cpf" data-whatever="Informe o nome do usuário..."> <strong s>Verifique o Cpf</strong></a><br> <br> #}

       {% for flashMenssage in app.session.flashbag.get('message2') %}
          <div class="alert alert-info" style="text-align: center; font-size: 15px;"> 
           <button  type="button" class="close" data-dismiss="alert">x</button>
            <strong>{{ flashMenssage }}</strong><br>
          </div>
         {% endfor %}
         
         {% for flashMenssage in app.session.flashbag.get('message1') %}
          <div class="alert alert" style="text-align: justify; font-size: 15px;"> 
            <button  type="button" class="close" data-dismiss="alert">x</button>
            <strong>{{ flashMenssage }}</strong><br>
          </div>
         {% endfor %}  
         <div class="form-group">
         <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon"><b>Cpf Responsavel *</b></span> 
             <input name='responsavel' value="{{ entity.responsavel }}" class='form-control' type='text' data-mask='99999999999' placeholder="00000000000" id="usuarior" required autofocus/>
              </div>
              <div id="cpfr"></div>
          
          </div>
          <div class="col-sm-6">
            <div class="input-group">
             <span class="input-group-addon"><b>Cpf Usuario *:</b></span> 
             <input  value="{{ entity.usuario }}" class='form-control' name='usuario' type='text' data-mask='99999999999' placeholder="00000000000" id="usuariou" required autofocus/>
            </div>
              <div id="cpfu"></div>
          </div>
        
          </div>

          
             
       </p>
     <div class="form-group">
         <div class="col-sm-6">
            <div class="input-group">
             <span class="input-group-addon"><b> IP</b></span>               
             <span style="color:red;">{{ form_errors(edit_form.ip) }} </span>        
             {{ form_widget (edit_form.ip, {'attr': {'class':'form-control','data-mask':'099.099.099.099','list':'ips','placeholder':'099.099.099.099'}} )}}
           </div>
         </div>
        <div class="col-sm-6">
            <div class="input-group">
             <span class="input-group-addon"><b>MAC</b></span> 
             <span style="color:red;">{{ form_errors(edit_form.mac) }}</span>        
             {{ form_widget (edit_form.mac, {'attr': {'class':'form-control','data-mask':'AA:AA:AA:AA:AA:AA', 'placeholder':'AA:AA:AA:AA:AA:AA'}})}}
           </div>
           </div>
       </div>
       <div class="form-group">
         <div class="col-sm-6">
            <div class="input-group">   
            <span class="input-group-addon"><b>Patrimonio Local</b></span>          
              {{ form_widget (edit_form.patrimonioLocal, {'attr': {'class':'form-control'}})}}
              {{ form_errors(edit_form.patrimonioLocal) }}
        
           </div>
          </div>
         <div class="col-sm-6">
            <div class="input-group">   
            <span class="input-group-addon"><b>Laboratorio *</b></span>            
            {{ form_errors(edit_form.laboratorio) }}        
            {{ form_widget (edit_form.laboratorio, {'attr': {'class':'form-control'}})}}
           </div>
        </div>
        </div>

       <div class="form-group">
         <div class="col-sm-6">
            <div class="input-group">   
            <span class="input-group-addon"><b>Tipo</b></span>      
           
            {{ form_errors(edit_form.tipo) }}
            {{ form_widget (edit_form.tipo , {'attr': {'class':'form-control'}})}}
           </div>
          </div>
         <div class="col-sm-6">
            <div class="input-group">   
            <span class="input-group-addon"><b>Status</b></span>
            {{ form_errors( edit_form.status) }}            
            {{ form_widget (edit_form.status, {'attr': {'class':'form-control'}})}}
           </div>
        </div>
        </div>

         <div class="form-group">
         <div class="col-sm-12">
            <div class="input-group">   
            <span class="input-group-addon"><b>Descrição dispositivo</b></span>  
             {{ form_errors(edit_form.descricao) }}            
             {{ form_widget (edit_form.descricao, {'attr': {'class':'form-control','style':'resize: none'}}) }}
      
           </div>
          </div>
         
        </div>
       <div class="alert alert-info">
            {#<label>Upload Termo de Compromisso</label>
            <input type="file" name="files">
            <p class="help-block">Selecione aqui o arquivo preenchido para upload caso não tenha ainda assinado o termo de adesão.</p>
         #}
         {{form_label(edit_form.filemove, 'Upload Termo de Compromisso:' ,{'label_attr': {'class':' control-label'}}) }}
        
          {{ form_errors(edit_form.filemove) }}
           
          {{ form_widget (edit_form.filemove)}}
          <p class="help-block">Selecione aqui o arquivo preenchido para upload caso não tenha ainda assinado o termo de adesão.</p></p>
           
         <p>  <label>Caso não tenha preenchido o Termo de Compromisso acesse o link:  <a href="http://www.nti.ufop.br/images/stories/5-FORM005_2009FormularioParaAutorizacaoCadastroNotebookRede.pdf" style="color:grey"> Termo.pdf</a></label></p>
         </div>

        <br/>
          <div class="form-group" style="margin:0px 0px 0px 0px;">
          {{ form_widget (edit_form.submit, {'attr': {'class':'btn btn-primary btn-lg active'}})}}
          {{form_end(edit_form)}}                       
                <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">Delete</button>
                     
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                               
                              </div>
                              <div class="modal-body">
                                <div class="alert alert-danger" role="alert">
                                    <span style="font-size: 18px; font-weight: bold;">Deseja realmente deletar este item?</span> Caso sim clique em ok, caso contrario clique em canselar....</div>
                                </p>
                              </div>
                              <div class="modal-footer">
                              <table>
                              <tr align="center">
                               <td> <button type="button" class="btn btn-default btn-lg"     data-dismiss="modal">Cancelar</button>
                               </td>
                                <td style="padding-left: 10px;">{{form_start(delete_form) }}
                                                    
                                 {{ form_widget (delete_form.submit, {'attr': {'class':'btn btn-danger btn-lg active'}})}}

                                {{form_end(delete_form)}} </td>
                              </tr>
                              </table>
                              </div>
                            </div>
                          </div>
                        </div>
                    
              </div>


        </div>
       </div></fieldset>
          
    			

    		

     	</div>

  
</div></div>


   
<datalist id="ips">
    {% for e in json %}
      <option value="{{ e }}"></option>
     {% endfor %}
</datalist>   
    
  <!--</div>-->
{% endblock %}
{% block scriptsextra %}

 <script type="text/javascript">
     $('#exampleModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) 
          var recipient = button.data('whatever') 
          var modal = $(this)
          modal.find('.modal­title').text('Excluir item!!!'+recipient)
          //modal.find('.modal­body input').val(recipient)
      })
    </script>
    
    <script type="text/javascript">
        

        $(document).ready(function(){
             // way 1
            $('.ip_address').mask('099.099.099.099');
            // way 2
            $('.ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', {translation:  {'Z': {pattern: /[0-9]/, optional: true}}});
            $('.date').mask('AA:AA:AA:AA:AA:AA', {
                    onKeyPress: function(str, e, obj){ 
                        $(obj).val(str.toLowerCase());
                    }
               }
            );
            $('.phone_with_ddd').mask('(00) 0000-0000');
        );
  
    </script>

<script type="text/javascript">
 $(function () {
    $("input#usuarior").blur(function(){         
              
               //if (event.keyCode == 13 || event.whitch == 13 ) {
                        $("#cpfr").html("<img src='{{ asset('bundles/sytemsg/loading/loading1.gif') }}'/>");
                        var id= $('#usuarior').attr('rel');
                        //var url = Routing.generate('SytemSGBundle_Solicitacoes_searchCpfuser');
                        //Pega o valor do usuario atual...
                        var itens = $('#usuarior').val();
                        var DATA ='usuario='+itens+'&id='+id;
                        
                        //Função ajax
                        $.ajax({
                          //Tipo de envio POST ou GET...
                          type: "POST",
                          //Caminho do arquivo PHP...
                          url: "{{ path('searchCpf', { 'flag': entity.id }) }}",
                          //Arquvios passados via POST neste caso, segue o mesmo modelo para GET...
                          data: DATA,//{ 'usuario':itens,'id':id },
                          //Se der tudo ok no envio...
                          
                          success: function(resposta){
                            //Colocar a resposta do aqruivo na div....
                            $("#cpfr").html(resposta);
                            //$("#x1").remove();
                          },
                          error: function (XMLHttpRequest, textStatus, errorThrown) {             
                           $("#cpfr").html("error :"+XMLHttpRequest.responseText);
                          
                                  
                          },
                          complete: function(data){
                            console.log(data);
                          
                          },
                          
                        })
                      // event.preventDefault();
                      // alert(itens);

                       
                  //}      
                        
                     
           });
  });

$(function () {
    $("input#usuariou").blur(function(){         
              
               //if (event.keyCode == 13 || event.whitch == 13 ) {
                        $("#cpfu").html("<img src='{{ asset('bundles/sytemsg/loading/loading1.gif') }}'/>");
                        var id= $('#usuariou').attr('rel');
                        //var url = Routing.generate('SytemSGBundle_Solicitacoes_searchCpfuser');
                        //Pega o valor do usuario atual...
                        var itens = $('#usuariou').val();
                        var DATA ='usuario='+itens+'&id='+id;
                        
                        //Função ajax
                        $.ajax({
                          //Tipo de envio POST ou GET...
                          type: "POST",
                          //Caminho do arquivo PHP...
                          url: "{{ path('searchCpf', { 'flag': entity.id }) }}",
                          //Arquvios passados via POST neste caso, segue o mesmo modelo para GET...
                          data: DATA,//{ 'usuario':itens,'id':id },
                          //Se der tudo ok no envio...
                          
                          success: function(resposta){
                            //Colocar a resposta do aqruivo na div....
                            $("#cpfu").html(resposta);
                            //$("#x1").remove();
                          },
                          error: function (XMLHttpRequest, textStatus, errorThrown) {             
                           $("#cpfu").html("error :"+XMLHttpRequest.responseText);
                          
                                  
                          },
                          complete: function(data){
                            console.log(data);
                          
                          },
                          
                        })
                       //event.preventDefault();
                      // alert(itens);

                       
                  //}      
                        
                     
           });
  });
            
</script>
    
{% endblock  %}
