{% extends 'SytemSGBundle:Default:baseadmin2.html.twig' %}


		{% block body %}
		  {#<ul class="nav nav-sidebar">
            <li class="active"><a href="#"><span style="font-weight:bold;">Administrar Redes Ufop</span><span class="sr-only">(current)</span></a></li>
            <li><a href="{{ path('dadosarquivos') }}">Dados rede Ufop</a></li>
            <li><a href="{{ path('intervalosIps') }}">Faixas de IP</a></li>
            <li><a href="{{ path('laboratorios') }}">Laboratorios</a></li>      
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#"><span style="font-weight:bold;">Administrar Internet Ufop</span><span class="sr-only">(current)</span></a></li>
            <li><a href="#">Firewall</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#"><span style="font-weight:bold;">Administrar Usuarios</span><span class="sr-only">(current)</span></a></li>
            <li><a href="{{ path('classificacao') }}">Tipo de usuario</a></li>
            <li><a href="{{ path('usuarios') }}">Usuario</a></li>
           
          </ul>
          <ul class="nav nav-sidebar">
           <li class="active"><a href="#"><span style="font-weight:bold;">Sair do Sistema</span><span class="sr-only">(current)</span></a></li>
             <li> <a href="#" style="font-weight:bold;"><i class="fa fa-fw fa-power-off"></i> Logout</a> </li>
          </ul>
        </div>#}
    {% endblock body %}



    
          
      