{% extends 'SytemSGBundle:Default:baseAdmin.html.twig' %}

{# block col %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
            
            <li><a href="{{ path('homeadmin') }}"><strong> Home Administrador</strong></a></li>
            <li><a href="{{ path('ipsexcecoes_new') }}"><strong>Cadastrar ip reservado</strong>  <i class="glyphicon glyphicon-plus-sign icon-white"></i></a></li>
               
     </ul>
         
          
</div>
{% endblock col #}


{% block body -%}
     <ol class="breadcrumb">
                                    <li>
                                     <a href="{{ path('homeadmin') }}">SysNTI - NetManager Adminstrador</a>
                                        
                                    </li>
                                    <li class="active">
                                        <i class="fa fa-fw fa-table"></i> Ips Reservados
                                    </li>
     </ol>
 <h3 class="sub-header" style="text-align:center;">Ips Reservados</h3>
 <div class="form-group">

     {% for flashMenssage in app.session.flashbag.get('message') %}
      <div class="alert alert-info" style="text-align: center; font-size: 17px; "> 
           <button  type="button" class="close" data-dismiss="alert">x</button>
            <strong>{{ flashMenssage }}</strong>
      </div>
     {% endfor %} 
  </div>
   <div class="table-responsive">
   <div class="col-sm-12">
    <table class="table" id="listar">
        <thead >
            <tr class="info">
                
                <th>Ips Reservados</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
            
                <td>{{ entity.ipexcecao }}</td>
                <td>
                <ul>
                    
                   <a class="btn btn-success"<a href="{{ path('ipsexcecoes_edit', { 'id': entity.id }) }}">Editar</a>
                    
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div></div>

</div>

       
    {% endblock %}
{% block scriptsextra %}
<script type="text/javascript" language="javascript" src="{{ asset('bundles/sytemsg/datatable/js/jquery-1.10.2.min.js')}}"></script>
       <script type="text/javascript" language="javascript" src="{{ asset('bundles/sytemsg/datatable/js/jquery.dataTables.min.js')}}"></script>
       <script type="text/javascript" language="javascript" src="{{ asset('bundles/sytemsg/datatable/js/dataTables.bootstrap.js')}}"></script>
       <script type="text/javascript" charset="utf-8">
          $(document).ready(function() {
            $('#listar').dataTable({
          "language": {
            "lengthMenu": "<b>Número _MENU_ de itens por página</b>",
            "zeroRecords": "<span class='label label-info' style='font-size:13px'>Nenhum resultado foi encontrado.</span>",
            "info": "<b>Página</b> <SPAN class='badge'> _PAGE_ </SPAN><b> de </b><SPAN class='badge'> _PAGES_</SPAN>",
            "infoEmpty": "<span class='label label-default' style='font-size:13px'>Nenhum resultado disponivel.</span>",
            "infoFiltered": "<span class='label label-info' style='font-size:13px;'>( filtro <b> _MAX_ </b> total )</span>",
            "search": "<b>Buscar: </b>",
            "paginate": { "first": "Início", "previous": "Anterior", "next": "Próximo", "last": "Último" }
           }
          });
          } );
       </script>


{% endblock %}