{% extends 'SytemSGBundle:Default:baseAdmin.html.twig' %}
{# block col %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav"> 
            
            <li><a href="{{ path('homeadmin') }}"><strong><i class="glyphicon glyphicon-home"></i> Home Administrador</strong></a></li>               
    </ul>    
          
</div>
{% endblock col #}




{% block body %}

<div class="row" >


      <form role="form" class="horizontal" method="post" action="{{ path('atualisadminmaster') }}">
        <div class="form-group" >
        <div class="col-sm-12">
          <h3 class="sub-header"> Configurações Super Usuário Administrador: </h3>
          <div class="form-group">

            {% for flashMenssage in app.session.flashbag.get('message') %}
              <div class="alert alert-info" style="text-align: center; font-size: 17px;"> 
                   <button  type="button" class="close" data-dismiss="alert">x</button>
                    <strong>{{ flashMenssage }}</strong>
              </div>
            {% endfor %} 
          </div>

        </div>
        </div>
        
        {% for key, p in path_file %}
        
          {% if key == 0 %}
          {# p #}
            <div class="form-group " >
             <div class="col-xs-12 col-sm-6 col-md-8">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="text"  name="key{{ key }}"class="form-control" value=" {{ p }} " placeholder="" size="10" required>
            </div>
            </div>
          {%  elseif key == 1 %}
             <div class="form-group " >
             <div class="col-xs-12 col-sm-6 col-md-8">
                <label for="exampleInputEmail1">Senha (* Informe somente para atualizar)</label>
                <input type="Password"  name="key{{ key }}" class="form-control" placeholder="" size="10" required>
            </div>
            </div>
          {%  elseif key == 2 %}
             <div class="form-group " >
             <div class="col-xs-12 col-sm-6 col-md-8">
                <label for="exampleInputEmail1">Role</label>
                <input type="text"  name="key{{ key }}" class="form-control" value=" {{ p }} " placeholder="Enter path" disabled="true">
            </div>
            </div>
          {%  elseif key == 3 %}
             <div class="form-group " >
             <div class="col-xs-12 col-sm-6 col-md-8">
                <label for="exampleInputEmail1">Teleforne</label>
                <input type="text"  name="key{{ key }}" class="form-control" value=" {{ p }} " placeholder="Enter path" disabled="true">
            </div>
            </div>
          {%  elseif key == 4 %}
             <div class="form-group " >
             <div class="col-xs-12 col-sm-6 col-md-8">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text"  name="key{{ key }}" class="form-control" value=" {{ p }} " placeholder="Enter path" disabled="true">
            </div>
            </div>
          {%  endif %}
        
        {% endfor  %}  
            <div class="form-group">
             <div class="col-xs-12 col-sm-6 col-md-8">
             <br/> 
                   
            <button  class="btn btn-primary btn-lg"> <strong><i class="glyphicon glyphicon-refresh"></i>Atualizar</strong></i> </button>
            
               
            </div>
            </div>
      </form>
</div>

<script type="text/javascript">
      
        $(document).ready(function(){
             // way 1
            $('.ip_address').mask('099.099.099.099');
            // way 2
            $('.ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', {translation:  {'Z': {pattern: /[0-9]/, optional: true}}});
            
        );
  
</script>

{% endblock %}

